<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>

    <ul>
        <% categories.forEach(category => { %>
            <li>
                <a href="/category/<%= category.category_id %>">
                    <strong><%= category.name %></strong>
                </a>
                <% if (category.description) { %>
                    - <%= category.description %>
                <% } %>
            </li>
        <% }); %>
    </ul>
</main>

<%- include('partials/footer') %>